* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(178, 65, 110);
  color: rgb(242, 192, 192);
  display: grid;
  width: 80%;
  margin: 3rem auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /*grid-template-columns: 1fr 02fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 0.5fr repeat(2, fr);
  */
}

h1 {
  font-size: 5rem;
  grid-area: 1 1 2 5;
}
/*make each img a div*/
#img-section {
  background-color: rgba(174, 86, 189, 0.3);
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  grid-area: 2 2 3 4;
}

#image1,
#image2,
#image3 {
  grid-area: 2 3 3 6;
}

#result {
  border: 1px solid black;
  grid-area: 2 1 5 2;
}

#button {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  grid-area: 2 1 5 2;
}
footer {
  border: 1px solid black;
  grid-area: 5 1 6 5;
}
